<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment-23661</display-name>
  
  <servlet>
  	<servlet-name>Login-Form</servlet-name>
  	<servlet-class>com.auca.service.DisplayLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login-Form</servlet-name>
  	<url-pattern>/Login-Form</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Forget_Password_Form</servlet-name>
    <servlet-class>com.auca.service.Forget_tPassword</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>Forget_Password_Form</servlet-name>
    <url-pattern>/Forget_Password_Form</url-pattern>
</servlet-mapping>
  
</web-app>